<%- include("../includes/head.ejs") %>
<body>
  <!-- navbar -->
<%- include("../includes/navbar.ejs") %>
  <div class="container">
    <div class="row">
<%- include("../includes/menu.ejs") %>
      <div class="col-md-9">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Home
          </div>
          <div class="panel-body">
            <div class="row">
              <!-- <iframe width="1000" height="900"
                src="https://app.powerbi.com/view?r=eyJrIjoiYWYzYjUwZWItODBjOC00Mzc4LWExYWYtZDJmNmZhMmNlMWVhIiwidCI6IjViYzljMTUwLThmMTUtNGIyMC1iYmY5LWY5ZmQ0ZDgyZmQ1MCIsImMiOjEwfQ%3D%3D"
                frameborder="0" allowFullScreen="true"></iframe> -->
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0</div>
                                    <div>Count Student</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-address-card fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>total siswa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%- include("../includes/footer.ejs") %>